body {
    font-family: 'Open Sans', sans-serif;
}

body .ui-autocomplete {
    font-family: 'Open Sans', sans-serif;
    background-color: #eaeaea;
    color: black;
    border-radius: 5px !important;
    width: 32.5em !important;
}

body .ui-autocomplete:focus {
    border-radius: 5px !important;
}

#background {
    margin-left: auto;
    margin-right: auto;
    width: 20px;
    height: 20px;
    animation: spinner 10s linear infinite;
    border: 1px solid #333;
    border-bottom: 1px solid red;
    border-top: 1px solid red;
    border-radius: 50%;

}

#stats {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#stats h2 {
    font-size: 3em;
}

#loader {
    position: absolute;
    left: 50%;
    top: 45%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 7px solid #f3f3f3;
    border-radius: 50%;
    border-top: 7px solid #EE2323;
    -webkit-animation: spinner 1s linear infinite;
    animation: spinner 1s linear infinite;
}

@-webkit-keyframes spinner {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.popover {
    width: 300px;
    top: -0px;
    color: black !important;
}

#searchIcon {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    padding: 4px;
    top: -1.1px;
    right: 33px;
    color: white !important;
    background-color: rgba(142, 6, 6, 0.86);
    border: 1px solid rgba(142, 6, 6, 0.86);
}

#searchIcon:hover {
    background-color: rgba(160, 7, 6, 0.96);
}

.navbar-default{
    background: rgba(142, 6, 6, 0.86);
    border:none !important;
}

#searchIcon:focus {
    outline: none;
}

 .navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    width: 25px;
    height: 3px;
    
}

.navbar-toggle {
    border: 1px solid rgba(142, 6, 6, 0.86) !important;
    border-radius: 0% !important;
}

.navbar-toggle:hover {
    background-color: rgba(142, 6, 6, 0.86) !important;
    color: white;
    border: 1px solid rgba(142, 6, 6, 0.86) !important;
}

.navbar-toggle:active {
    background-color: rgba(142, 6, 6, 0.86) !important;
    color: white;
    border: 1px solid rgba(142, 6, 6, 0.86) !important;

}
.navbar-toggle:focus {
    background-color: rgba(142, 6, 6, 0.86) !important;
    color: white;
}

.navbar-toggle .icon-bar:nth-of-type(2) {
    top: 1px;
}

.navbar-toggle .icon-bar:nth-of-type(3) {
    top: 2px;
}

.navbar-toggle .icon-bar {
    position: relative;
    -webkit-transition: all 300ms ease-in-out;
    transition: all 300ms ease-in-out;
}

.navbar-toggle.active .icon-bar:nth-of-type(1) {
    top: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.navbar-toggle.active .icon-bar:nth-of-type(2) {
    background-color: transparent !important;
}

.navbar-toggle.active .icon-bar:nth-of-type(3) {
    top: -8px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.navbar-toggle {
    /*border-radius: 0 !important;*/
    color: white;
}

.introTekst input {
    width: 25em;
    height: 1.5em;
    font-size: 1.3em;
    border: 1px solid white;
    border-radius: 3px;
    padding: 5px;
    vertical-align: top;
    color: black;
    margin-left: 35px;
}

.introTekst {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    vertical-align: middle;

}

.introTekst h1 {
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 4.1em;
    font-weight: 700;
    letter-spacing: 5px;
    text-transform:uppercase;
    text-decoration: underline;
}

select {
    align-items: flex-start !important;
    border-radius: 3px;
    border: 1px solid white;
    vertical-align: top;
    width: 25em;
    height: 1.5em;
    color: black;
    font-size: 1.3em;
    margin-bottom: 2em;
}

select:focus {
    outline: none;
}

select option {
    font-size: 15px !important;
    width: 20em !important;
}

.sok {
    margin-top: 2em;
}

.sok input:focus {
    /*outline: none;*/
}

#sokKnapp:hover {
    background-color: white !important;
    color: #8C0606 !important;
}

@media all and (max-width: 768px) {
    .introTekst {
        display: block;
        text-align: center;
    }
    select {
        display:block;
        font-size: 1.2em;
        width: 15em;
        margin-left: auto;
        margin-right: auto;
    }
    .sok input {
        display:block;
        font-size: 1.2em;
        width: 15em;
        margin-left: auto;
        margin-right: auto;
    }
    #searchIcon {
        font-size: 20px !important;
        top: -24px;
        left: 110px;
    }
    #infoCircle {
        /*font-size: 30px !important;*/
        display: none;
    }
    .introTekst h1 {
        font-size: 2.5em;
        letter-spacing: 2px !important;
    }
    .introTekst h3 {
        font-size: 1.8em;
    }
    #sokKnapp {
        width: 12em !important;
        margin-top: 0.1em !important;
    }
    #loader {
        position: absolute;
        left: 55%;
        top: 45%;
        z-index: 1;
        width: 100px;
        height: 100px;
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #EE2323;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }
    #numbers {
        display: none;
    }
    body .ui-autocomplete {
        width: 22.5em !important;
    }
}

@media all and (max-width: 500px) {
    .introTekst {
        display: block;
        text-align: center;
    }
    select {
        display:block;
        font-size: 1em;
        width: 13em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0px !important;
    }
    .sok input {
        display:block;
        font-size: 1em;
        width: 13em;
        height: 2em;
        margin-left: auto;
        margin-right: auto;
        border-radius: 0px !important;
    }
    #searchIcon {
        font-size: 16px !important;
        top: -24px;
        left: 75px;
    }
    #infoCircle {
        /*font-size: 30px !important;*/
        display: none;
    }
    .introTekst h1 {
        font-size: 1.8em;
        letter-spacing: 0px !important;
    }
    .introTekst h3 {
        font-size: 1.3em;
    }
    #sokKnapp {
        width: 12em !important;
        margin-top: 0.1em !important;
    }
    #loader {
        position: absolute;
        left: 59%;
        top: 45%;
        z-index: 1;
        width: 90px;
        height: 90px;
        border: 5px solid #f3f3f3;
        border-radius: 50%;
        border-top: 5px solid #EE2323;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
    }
    #numbers {
        display: none;
    }
    body .ui-autocomplete {
        width: 13em !important;
    }
}

.navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 18px;
    font-weight: 200;
}

.navbar-default .navbar-nav>li>a:hover {
    color: white;
    background-color: #8C0606;
    text-decoration: underline;
}

.navbar-default .navbar-nav>li>a:focus {
    color: grey;
    background-color: #8C0606;
}

.header {
    display: table;
    position: relative;
    width: 100%;
    padding-top: 10em;
    padding-bottom: 1.3em;
    /*background-image: linear-gradient(120deg, rgba(245, 33, 33, 0) 87%, rgba(255, 255, 255, 0.08) 15%),linear-gradient(-120deg, rgba(245, 33, 33, 0) 87%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(110deg, rgba(27, 0, 255, 0) 85%, rgba(255, 255, 255, 0.08) 15%),linear-gradient(-100deg, rgba(27, 0, 255, 0) 95%, rgba(255, 255, 255, 0.08) 15%), linear-gradient(103deg, rgba(255, 33, 33, 0) 84%, rgba(255, 255, 255, 0.08) 15%), radial-gradient(circle, #8C0606 0%, #8C0606 100%);*/
    background-color: #8C0606;
    
    color: #fff;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#footer {
    padding-top: 1.5em;
    padding-bottom: 2em;
    background: #333;
}

.footerTekst {
    line-height: 18px;
}

.text-muted p {
    font-size: .8em;
    color: #777777;
}

#toppen {
    display: none;
    position: fixed;
    bottom: 5px;
    right: 5px;
}